

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- Change code below this line -->

<body>
<div class="profile-card">
  <div class="avatar"><img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&w=800" alt="profile-img"></div>
  <div class="salutation">

    <div class="name"><p >Email:{{ authentification.utilisateur.sub }}</p></div>
    <div class="name"><p >Nom: {{ authentification.utilisateur.nom}}</p></div>
    <div class="name"><p >Prenom:{{ authentification.utilisateur.prenom }}</p></div>
    <div class="designation">@if(authentification.utilisateur.role == "ROLE_ADMIN") {
      <p class="name">Vous etes administrateur</p>


    }
      @if(authentification.utilisateur.role == "ROLE_CLIENT") {

        <p class="name" >Vous etes client</p>
      }
      @if(authentification.utilisateur.role == "ROLE_TECH") {

        <p class="name">Vous etes technicien</p>
      }
      @if(authentification.utilisateur.role == "ROLE_ADH") {

        <p class="name">Vous etes adherent a l'association</p>
      }</div>
  </div>
  <div class="options">
    <button routerLink="/edit-profil" class="edit-profile" ><span>Edit Profile</span></button>
  </div>
</div>
</body>
<!-- Change code above this line -->


