<body>
<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Connexion</h2>
    <form class="formulaire login-container" (ngSubmit)="onConnexion()" [formGroup]="formulaire">

        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />

        @if(formulaire.get("email")?.hasError('required')) {
        <mat-error>L'email est obligatoire</mat-error>
        } @if(formulaire.get("email")?.hasError('email')) {
        <mat-error>L'email est mal formé</mat-error>
        }



        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="motDePasse" />
      @if(formulaire.get("motDePasse")?.hasError('required')) {
        <mat-error>Le mot de passe est obligatoire</mat-error>
      }



      @if(erreurConnexion) {
      <mat-error>Les identifiants sont incorrects</mat-error>
      }

      <button mat-raised-button color="primary">Se connecter</button>

      <p>Nouveau client ?<a mat-raised-button color="primary" routerLink="/inscription">Inscription</a></p>


    </form>

</div>
</body>
