<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poprawki</title>
</head>
<body>
<div class="container">
  <div class="pos-fix">
  </div>
</div>
<section class="landing-page" id="landing-page">
  <div class="container">
    <div class="landing-page-settings">
      <div class="landing-page-text">
        <h1>Achetez votre voiture</h1>

        <button routerLink="/voiture-occasion" >Reservez</button>
      </div>
    </div>
  </div>
</section>
<section class="offer-page" id="offer">
  <div class="container">
    <div class="offer-list">
      <div class="offer-box">
        <a href="#">
          <h1>Vidange</h1>
        </a>
        <h2>Vidange</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
      <div class="offer-box">
        <a href="#">
          <h1>Oferta 1</h1>
        </a>
        <h2>Opis ofert</h2>
      </div>
    </div>
  </div>
</section>
<div class="contact" id="contact">
  <div class="container">
    <div class="contact-spec">
      <div class="engineers">
        <h1>Contactez nous:</h1>
        <div class="engineers-names">
          <div class="engineer-first">
            <h1>Gerant</h1>
            <div class="contact-forms">
              <a href="tel:+48123456789">Nordine</a>
              <a href="mailto:test@gmail.colm">Email</a>
            </div>
          </div>
          <div class="engineer-second">
            <h1>Karim</h1>
            <div class="contact-forms">
              <a href="tel:+48144456789">0675847546</a>
              <a href="mailto:test2@gmail.colm">Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
